/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './form.css';

@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
  }

:root {

}
body {
    font-size: 14px;
}

a {
    @apply text-blue-500
}

dl,
menu,
ol,
ul {
    margin: 1em 0;
    padding-left: 40px;
}

dd {
    margin: 0 0 0 40px;
}